body{
    margin: 0;
    padding: 0;
}


/* header */
header nav{
    background-color: #F72C5B;
    color: white;
    display: flex;
    justify-content: center;
    
}   
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;

}
a{
    text-decoration: none;
    margin-left: 20px;
    color: white;

}
.link-button{
    display: flex;
    justify-content: center;
}
.link-button a{
    background-color: black;
    color: white;

    
}
p{
    display: flex;
    justify-content: center;
}

/* presentation section */

h2{
    display: flex;
    justify-content: center;
}

section#presentation{
    display: flex;
    justify-content: center;
}

section#presentation p{
    width: 30%;
   
}
    img{
    width: 246px;
    height: 397px;
}

/* section posts */
.container{
    display: flex;
    justify-content: center;
    height: 1178px;
}
.card{
    color: white;
    width: 288px;
    height: 198px;
    border: 1px solid black;
}
.card .card-header{
    background-color: #F72C5B;
}
.card .card-content{
    background-color: white;
    color: black;
}
.card .card-footer{
    background-color: #F72C5B;
}

/* footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F72C5B;
    color: white;
    height:149px;
    width: 1696px;
    margin-top: 64px;
    position: fixed;
    bottom: 0;

}
footer section{
    width: 220px;
    height: 149px;
}
footer ul{
    list-style-type: none;
    padding-left: 0px;

}
