body{
    margin: 0;
    padding: 0;
}
header nav{
    background-color: white;
    color: blue;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
nav ul{
    list-style-type: none;
    display: flex;
   
}
footer{
    display: flex;

}